* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #111821;
    font-family: Roboto;
}

.text-center {
    text-align: center;
}

.header {
    position: fixed;
    height: 100%;
    width: 18.75rem;
    background-color: #1e2a3a;
    color: #fff;
}

.header .name {
    
}

.pt-lg-4 {
    padding-top: 1.5rem;
}

.header .navbar{
    padding: 1.5rem 1rem;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.header .navbar-toggler {
    border-radius: 2px;
    opacity: .8;
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 0.25rem 0.6rem;
}

.navbar-toggler {
    color: rgba(255, 255, 255, 0.55);
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    transition: box-shadow 0.15s ease-in-out;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    background-repeat: none;
    background-position: center;
    background-size: 100%;
}

.collapse:not(.show) {
    display: none;
}

.flex-column {
    flex-direction: column;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
}

.pt-3 {
    padding-top: 1rem !important;
}

.profile-image {
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.social-list {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    list-style: none;
    margin-right: auto;
    margin-left: auto;
}

.social-list a {
   background-color: #54b689;
   color: #fff;
   width: 40px;
   height: 40px;
   padding-top: 10px;
   display: inline-block;
   text-align: center;
   border-radius: 50%;

}

.list-inline-item {
    display: inline-block;
    margin-right: .5rem;
    transition: transform .3s;
}

.list-inline-item:hover {
    transform: translateY(-3px);
}

hr {
    border-color: rgba(255, 255, 255, 0.3);
    margin: 1rem 0;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    text-align: center;
}

.nav-item {
    font-weight: bold;
}

.nav-link {
    color: rgba(255, 255, 255, 0.7);
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 1.25rem;
    cursor: pointer;
}

.nav-link:hover {
    color: #fff;
}

.nav-link i {
    margin-right: 0.5rem;
}

.main-container {
    margin-left: 18.75rem;
    color: rgba(255, 255, 255, 0.7);
    background-color: #111821;
}

.main-container .heading-section {
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
    background: none;
    padding: 3rem 3rem 3rem 3rem;
}

.container {
    width: 100%;
    padding-right: var(.75rem);
    padding-left: var(.75rem);
    margin-right: auto;
    margin-left: auto;
    /* max-width: 1320px; */
}


.single-col-max-width {
    max-width: 820px;
}

.heading {
    font-size: 2rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.95);
    margin-bottom: 1.5rem;
    position: relative;
    padding-left: 1.5rem;
}

.project-list {
    background-color: #111821;
    padding: 3rem;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
}

.project-card .card-img-holder {
    max-height: 200px;
    overflow: hidden;
    vertical-align: middle;
}

.card-img-holder img{
    max-height: 200px;
    overflow: hidden;
}

.project-card {
    background-color: #151e29;
    border-radius: 0;
    position: relative;
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    overflow: hidden;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.row>* {
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}



.col-xl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
    overflow: hidden;
}



.col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}

.card-body {
    padding: 1rem 1rem;
}

.card-title {
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
    
    text-decoration: underline;
}

.project-card .link-mask {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
}

.project-card:hover .link-mask {
    background: rgba(0, 0, 0, 0.5);
    visibility: visible;
}

.project-card .link-mask .link-mask-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.project-card .link-mask-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    display: none;
}

.project-card:hover .link-mask-text {
    display: block;
}

.project-card .link-mask-text .btn {
    top: 50%;
    margin-top: -20px;
    position: relative;
}

.btn-secondary {
    color: #fff;
    background: #2f435c;
    background-color: #2f435c;
}

.btn-secondary:hover {
    color: #fff;
    background: #384f6c;
    background-color: #384f6c;
}

.btn {
    font-weight: bold;
    padding: 0.375rem 1rem;
    height: 2.5rem;
    font-size: 1rem;
    outline: none;
}

.btn {
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out,background-color 0.15s
}


h5 {
    color: rgba(255, 255, 255, 0.95);
    margin-bottom: 0.5rem;
    display: block;
}

.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
    
}

.mb-5 {
    margin-bottom: 3rem;
}

.theme-link {
    color: rgba(255, 255, 255, 0.95);
}

.about-section {
    padding: 3rem;
    
}

.intro {
    font-size: 1.5rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.about-heading {
    font-size: 2rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.95);
    margin-bottom: 1.5rem;
    position: relative;
    padding-left: 1.5rem;
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skills-skill {
    background-color: #54b689;
    color: #fff;
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    border-radius: 5px;
}

.icon {
padding-right: 0.5rem;
}

.contact-section {
    padding: 3rem;
}

.contact h2 {
    /* text-align: center; */
}

.contact-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
}

/* .contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
} */

/* .contact-right {
    flex-basis: 40%;
    padding: 40px;
} */

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group {
    flex-basis: 45%;
}

input { 
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding-bottom: 5px;
}

textarea {
    width: 100%;
    border: 1px solid black;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

.submit-btn {
    background-color: #54b689;
    width: 100px;
    border: none;
    outline: none;
    color: white;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 9px rgba(255, 255, 255, .05);
}

.submit-btn:active {
    transform: translateY(3px);
    box-shadow: 0 5px rgba(255, 255, 255, .05);
}

.contact-left h4 {
    margin-bottom: 30px;
}

.contact-right h4 {
    margin-bottom: 30px;
}

tr td:first-child {
    padding-right: 20px;
}

tr td {
    padding-top: 20px;
}

/* .card-title {
    color: black;
} */

.card-text {
    color: black;
}

.contact-heading {
    font-size: 2rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.95);
    margin-bottom: 3rem;
}

.heading::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 100%;
    background-color: #54b689;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
}

.resume-section {
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
    background: none;
    padding: 3rem;
    line-height: 1.5;
}

.mb-6 {
    padding-bottom: 2rem;
}

.section-title {
    font-size: 1.5rem;
    text-decoration: underline;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    color: #fff;
}

.resume-skills li {
    list-style: none;
}

.app-description {
    margin-left: 30px;
}

.prof-exp {
    display: flex;
    
}

.yos {
    text-align: right;
    flex: 1 1 0;
}

.resume-heading {
    font-size: 2rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.95);
    margin-bottom: 1.5rem;
    position: relative;
    padding-left: 1.5rem;
}

.resume-wrapper {
    background-color: #151e29;
    padding: 3rem;
}

.res-head {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 3rem;
}

.btm-border {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    
}

/* Case study page */

.project-details {
    max-width: 120rem;
    margin: auto;
    width: 75%;
    
}

.project-details-content {
    padding: 8rem 0;
    max-width: 90rem;
    margin: auto;
}

.project-details-img-cont {
    width: 100%;
    margin-bottom: 6rem;
}

.project-details-img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.project-details-content-main {
    width: 100%;
    margin: auto;
    max-width: 70rem;
}

.project-details-desc {
    margin-bottom: 7rem;
}

.project-details-title {
    font-size: 2rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.95);
    margin-bottom: 3rem;
}

.project-details-para {
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 2rem;
}

.tools-used {
    margin: 0 0 7rem 0;
}

.tools {
    display: flex;
    flex-wrap: wrap;
}

.tools-tool {
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1rem;
    background: #1e2a3a;
    border-radius: 5px;
    color: #fff;
}

.project-details-links {
    margin: 0 0;
}

.project-details-links-btn {
    margin-right: 2rem;
}

.btn-theme {
    background: #54b689;
    color: #fff;
}

.btn-med {
    padding: 1.5rem 5rem;
    font-size: 1.2rem;
}

.button {
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 5px 10px rgba(255, 255, 255, .05);
    text-decoration: none;
    transition: transform .3s;
    margin-bottom: 2rem;
}

.button:hover {
    transform: translateY(-3px);
}



@media only screen and (max-width: 1200px) {
    .col-12 {
        flex: 0 0 auto;
        width: 100%;
        overflow: hidden;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 1140;
    }
    .about-content{
        grid-template-columns: 1fr;
        grid-gap: 8rem;
    }
    .contact-box {
        grid-template-columns: 1fr;
        grid-gap: 8rem;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 960px;
    }
    
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 720px;
    }
    
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media only screen and (max-width: 990px){
    .header {
        position: static;
        width: inherit;
        height: auto;
    }
    .main-container {
        margin-left: 0;
    }
    .header .name {
        width: 100%;
        position: absolute;
        left: 0;
        padding-top: 1rem;
    }
    .header .navbar {
        padding: 1rem;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
    .navbar-expand-lg .navbar-collapse {
        display: flex;
        flex-basis: auto;
    }

}